<div class="container mt-5">
  <h2>My Order</h2>
  <div class="progress-container mt-5">
    <div class="progress-line"></div>
    <div class="progress-line-filled"></div>
    <div class="step completed">✔</div>
    <div class="step active"></div>
    <div class="step end"></div>
  </div>

  <!-- Order Items -->
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2 p-2">
        <img src="assets/images/item1.jpg" class="img-fluid rounded-start" alt="Hamburger">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title fw-bold fs-5">Hamburger</h5>
          <span class="text-danger">$19.89</span>
          <p class="card-text">Add: Extra Cheese, Sauce, French Fries</p>
          <button class="btn p-0 mt-5 fs-5 fw-bold">Edit</button>
          <span class="badge bg-light text-dark float-end">1</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2 p-2">
        <img src="assets/images/item1.jpg" class="img-fluid rounded-start" alt="Pizza">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title fw-bold fs-5">Pizza</h5>
          <span class="text-danger">$9.89</span>
          <p class="card-text">Add: Pepsi, Ice-Cream</p>
          <button class="btn p-0 mt-5 fs-5 fw-bold">Edit</button>
          <span class="badge bg-light text-dark float-end">3</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Coupon Code -->
  <div class="form-group row">
    <label for="coupon" class="col-sm-2 col-form-label fs-5 fw-bold">Coupon Code:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="coupon" placeholder="Enter Your Coupon">
    </div>
  </div>
  <!-- Payment Method -->
  <div class="payment-method d-flex align-items-center mt-3 mb-3">
    <strong class="me-2 fs-5 me-6">Method Payment:</strong>
    <div class="payment-option" [class.active]="selectedMethod === 'card'" (click)="selectMethod('card')">
      <img src="assets/images/card-icon.png" alt="Card">
      <span>Card</span>
    </div>

    <div class="payment-option" [class.active]="selectedMethod === 'afterpay'" (click)="selectMethod('afterpay')">
      <img src="assets/images/afterpay-icon.png" alt="Afterpay">
      <span>Afterpay</span>
    </div>
  </div>

  <!-- Summary -->
  <div class="border p-3 mb-3">
    <div class="info d-flex justify-content-between fs-5">
      <p>Delivery Time: <span class="text-primary">18 mins</span></p>
      <p>Discount: <span class="text-warning">HAPPYNEWYEAR 15%</span></p>
    </div>
    <h5>Total Price: <span class="text-danger">$21.69</span></h5>
  </div>

  <!-- Buttons -->
  <div class="d-flex justify-content-center gap-3 mb-3">
    <button class="btn btn-danger w-25" routerLink="/order">Cancel</button>
    <button class="btn btn-warning w-25">Confirm Now</button>
  </div>
</div>